.btn {
  border-radius: 40px;
}

.btn-primary,
.btn-secondary {
  &:hover,
  &:focus {
    background-color: #088b96;
    color: #ffffff;
  }
}

.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-active-color: #ffffff;
}

.btn-secondary {
  color: #003338;
  border: 1px solid #0bc5d5;
}

.login-btn {
  width: 100%;
}

.reactions button {
  background-color: #f8feff;
  padding: 1px 10px;
  margin-right: 5px;
  border: 1px solid #0bc5d5;
  border-radius: 15px;
}

.reactions button:disabled {
  background-color: #0bc5d5;
  color: #f8feff;
}

.edit-button,
.delete-post button {
  margin-top: 10px;
  margin-right: 5px;
}
