// COLORS
$primary: #0bc5d5;
$secondary: #f8feff;

// FORMS
$input-color: #088b96;
$input-border-color: rgba(0, 51, 56, 0.25);
$input-focus-border-color: #0bc5d5;
$input-focus-box-shadow: none;
$input-placeholder-color: rgba(0, 51, 56, 0.25);
$input-focus-color: #003338;

// LISTS
$list-group-item-padding-x: 0;
$list-group-item-padding-y: 10px;
$list-group-border-color: rgba(11, 197, 213, 0.5);
$list-group-color: #003338;
